<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
<appSettings>
      <add key="UseDateInFileName" value="true"/>
      <add key="DateFormat" value="yyy-MMMM-dd"/>
      <add key="CompressionLevel" value="3"/>
      <add key="UseLogging" value="true"/>
    </appSettings>
</configuration>